.card_main_div{
    width: 350px;
    height: 300px;
    background-size: 350px 300px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin: 15px;
    border-radius: 10px;
}
.card_info_div{
    background-color: rgba(26, 26, 26, 0.897);
    transition: 0.4s;
    width: 100%;
    height: 30%;
    padding-left: 40px;
    padding-top: 10px;
    opacity: 1;
}
.card_info_div:hover{
    background-color: rgba(26, 26, 26, 0.968);
    transition: 0.4s;
    width: 100%;
    height: 40%;
    padding-left: 40px;
    padding-top: 10px;
    opacity: 1;
}
.card_info_div label{
    font-size: 25px;
    margin: 0;
    color: rgb(202, 202, 202);
}
.card_info_div p{
    font-size: 15px;
    margin: 0;
    color: rgb(202, 202, 202);
}
.card_button_div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
    gap: 10px;
}
.card_button_div a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.card_button_div .link{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
.card_button_div a:hover{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    transition: 0.3s;
    border-bottom: 1px solid rgb(32, 32, 32);
    border-right: 1px solid rgb(32, 32, 32);
    border-width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}
.card_button_div .link:hover{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    transition: 0.3s;
    border-bottom: 1px solid rgb(32, 32, 32);
    border-right: 1px solid rgb(32, 32, 32);
    border-width: 100%;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 10px;
}