.About_show_div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 85%;
    height: 100%;
    background-color: rgb(41, 41, 41);
}
.About_show_div h1{
    font-size: 30px;
    color: aliceblue;
    border-bottom: 1px solid white;
}
.About_show_div p{
    font-size: 20px;
    color: aliceblue;
    width: 50%;
}
@media (max-width:600px) {
    .About_show_div{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgb(41, 41, 41);
    }
}