.About_show_div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    overflow-y: scroll;
}
.About_show_div::-webkit-scrollbar{
    width: 2px;
}
.About_show_div h1{
    font-size: 30px;
    color: aliceblue;
    border-bottom: 1px solid white;
    font-family: 'Dosis', sans-serif;
}
.About_show_div p{
    font-size: 20px;
    color: aliceblue;
    width: 50%;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 150px;
    /* font-family: 'Oswald', sans-serif; */
}
@media (max-width:600px) {
    .About_show_div{
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 80%;
        background-color: rgb(41, 41, 41);
    }
    .About_show_div p{
        font-size: 20px;
        color: aliceblue;
        width: 70%;
        font-family: 'Dosis', sans-serif;
        /* font-family: 'Oswald', sans-serif; */
    }
}