@keyframes start2 {
    0%{opacity: 0.9;}
    100%{opacity: 1;}
}
.Projects_main_div{
    width: 100%;
    height: 100vh;
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: row;
    animation-name: start2;
    animation-duration: 1s;
}
.Projects_navbar_div{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: center;
}
.Projects_show_div{
    width: 80%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Oswald', sans-serif;
}
.Projects_show_div .empty{
    color: aliceblue;
    position: absolute;
    top: 50px;
    right: 40%;
    font-size: x-large;
}
.Projects_show_div::-webkit-scrollbar{
    width: 6px;
}
.Projects_show_div::-webkit-scrollbar-thumb{
    background-color: rgb(15, 15, 15);
    border-radius: 30px;
}
.Projects_show_div::-webkit-scrollbar-track{
    background-color: rgb(54, 54, 54);
    border-radius: 30px;
}
.Projects_navbar_title_div{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid black;
    font-family: 'Oswald', sans-serif;
    padding-top: 20px;
}
.Projects_navbar_title{
    font-size: 30px;
    color: aliceblue;
}
.Projects_navbar_link_div{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 1px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
.Projects_navbar_link_div .link{
    background-color: rgb(47, 47, 47);
    color: aliceblue;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content:left ;
    align-items: center;
    text-decoration: none;
    font-size: 25px;

    transition: 0.3s;
    padding-left: 15px;
    margin-left: 20px;
    
}
.Projects_navbar_link_div .link:hover{
    background-color: rgb(47, 47, 47);
    color: rgb(61, 178, 232);
    width: 100%;
    height: 33%;
    display: flex;
    justify-content:left ;
    align-items: center;
    text-decoration: none;
    font-size: 25px;

    transition: 0.3s;
    padding-left: 60px;
    
}
.Projects_navbar_search_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
    width: 90%;
}
.Projects_navbar_search_div input{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.027);
    border: 1px solid black;
    color: aliceblue;
    font-size: 15px;
    width: 90%;
    margin-right: 2px;
    padding: 5px;

}
.Projects_navbar_search_div button{
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    border: 1px solid black;
    font-size: 15px;
    color: aliceblue;
    width: 90%;
    padding: 10px 5px;
}

/*Mobile*/
@media (max-width:600px) {
    .Projects_main_div{
        display: flex;
        flex-direction: column;
    }
    .Projects_navbar_div{
        width: 97%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 0;
    }
    .Projects_show_div{
        width: 100%;
        height: 80%;
        
    }
    .Projects_show_div .empty{
        color: aliceblue;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%);
        font-size: x-large;
    }
    .Projects_navbar_title_div{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid black;
    }
    .Projects_navbar_title{
        font-size: 25px;
        color: aliceblue;
    }
    .Projects_navbar_link_div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 1px;
    }
    .Projects_navbar_link_div .link{
        width: 80%;
        height: 33%;
        font-size: 20px;
        
    }
    .Projects_navbar_link_div .link:hover{
        background-color: rgb(47, 47, 47);
        color: aliceblue;
        width: 80%;
        height: 33%;
        display: flex;
        justify-content:left ;
        align-items: center;
        text-decoration: none;
        font-size: 25px;
    
        transition: 0.3s;
        padding-left: 25px;
        color: rgb(61, 178, 232);
        
    }
    .Projects_navbar_search_div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        /* gap: 5px; */
    }
    .Projects_navbar_search_div input{
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.027);
        border: 1px solid black;
        color: aliceblue;
        font-size: 15px;
        width: 85%;
        /* margin-right: 5px; */
    }
    .Projects_navbar_search_div button{
        border-radius: 20px;
        background-color: rgb(40, 40, 40);
        border: 1px solid black;
        font-size: 15px;
        color: aliceblue;
        width: 90%;
        padding: 5px 10px;
    }
}
/*Ipad*/
@media (max-width:1200px  ){
    .Projects_navbar_title_div{
        height: 20%;
    }
    .Projects_navbar_title{
        font-size: 25px;
    }
}
/*Computer*/
@media (min-width:1200px){
    .Projects_navbar_title_div{
        height: 15%;
    }
}