@keyframes start2 {
    0%{opacity: 0.9;}
    100%{opacity: 1;}
}
.Projects_main_div{
    width: 100%;
    height: 100vh;
    background-color: rgb(35, 35, 35);
    display: flex;
    flex-direction: row;
    animation-name: start2;
    animation-duration: 1s;
}
.Projects_navbar_div{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: center;
}
.Projects_show_div{
    width: 85%;
    height: 100%;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: scroll;
}
.Projects_show_div::-webkit-scrollbar{
    width: 6px;
}
.Projects_show_div::-webkit-scrollbar-thumb{
    background-color: rgb(15, 15, 15);
    border-radius: 30px;
}
.Projects_show_div::-webkit-scrollbar-track{
    background-color: rgb(54, 54, 54);
    border-radius: 30px;
}
.Projects_navbar_title_div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
}
.Projects_navbar_title{
    font-size: 30px;
    color: aliceblue;
}
.Projects_navbar_link_div{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 1px;
}
.Projects_navbar_link_div .link{
    background-color: rgb(47, 47, 47);
    color: aliceblue;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content:left ;
    align-items: center;
    text-decoration: none;
    font-size: 25px;

    transition: 0.3s;
    padding-left: 15px;
    
}
.Projects_navbar_link_div .link:hover{
    background-color: rgb(47, 47, 47);
    color: aliceblue;
    width: 100%;
    height: 33%;
    display: flex;
    justify-content:left ;
    align-items: center;
    text-decoration: none;
    font-size: 25px;

    transition: 0.3s;
    padding-left: 50px;
    
}
.Projects_navbar_search_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Projects_navbar_search_div input{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.027);
    border: 1px solid black;
    color: aliceblue;
    font-size: 15px;
    width: 60%;
    margin-right: 2px;
}
.Projects_navbar_search_div button{
    border-radius: 20px;
    background-color: rgb(40, 40, 40);
    border: 1px solid black;
    font-size: 15px;
    color: aliceblue;
    width: 30%;
}

@media (max-width:600px) {
    .Projects_main_div{
        display: flex;
        flex-direction: column;
    }
    .Projects_navbar_div{
        width: 97%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
    }
    .Projects_show_div{
        width: 100%;
        height: 80%;
        background-color: rgb(41, 41, 41);
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        overflow-y: scroll;
    }
    .Projects_navbar_title_div{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid black;
    }
    .Projects_navbar_title{
        font-size: 25px;
        color: aliceblue;
    }
    .Projects_navbar_link_div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 1px;
    }
    .Projects_navbar_link_div .link{
        background-color: rgb(47, 47, 47);
        color: aliceblue;
        width: 80%;
        height: 33%;
        display: flex;
        justify-content:left ;
        align-items: center;
        text-decoration: none;
        font-size: 15px;
    
        transition: 0.3s;
        padding-left: 15px;
        
    }
    .Projects_navbar_link_div .link:hover{
        background-color: rgb(47, 47, 47);
        color: aliceblue;
        width: 80%;
        height: 33%;
        display: flex;
        justify-content:left ;
        align-items: center;
        text-decoration: none;
        font-size: 15px;
    
        transition: 0.3s;
        padding-left: 25px;
        
    }
    .Projects_navbar_search_div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 15px;
        gap: 5px;
    }
    .Projects_navbar_search_div input{
        border-radius: 20px;
        background-color: rgba(0, 0, 0, 0.027);
        border: 1px solid black;
        color: aliceblue;
        font-size: 15px;
        width: 70%;
        margin-right: 2px;
    }
    .Projects_navbar_search_div button{
        border-radius: 20px;
        background-color: rgb(40, 40, 40);
        border: 1px solid black;
        font-size: 15px;
        color: aliceblue;
        width: 70%;
    }
}